:root {
  /*1f1d2a ad*/
  --color-fondo: #242424;
  --color-foco: #242424d9;

  animation: focoOndulanteFondo 2.5s infinite alternate;
  transition:--angulo 1.25s;
  background: conic-gradient(
    from var(--angulo) at 50% 0%,
    var(--color-fondo, #000), var(--color-foco, #fff),
    var(--color-fondo, #000) 30deg,
    var(--color-fondo, #000) 180deg
  );

  height: auto;
  min-height: 100vh;
}

@property --angulo{
  syntax: '<angle>';
  inherits: false;
  initial-value: 120.0deg;
}

@keyframes focoOndulanteFondo {

  from {
    --angulo: 120.0deg;
  }

  to {
    --angulo: 210.0deg;
  }

}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #242424d9;
}

::-webkit-scrollbar-thumb {
  background: #1f1d2a;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f1d2aad;
}

::-webkit-scrollbar-track:hover {
  background: #1f1d2aad;
}