:root {
  --color-fondo: #242424;
  --color-foco: #242424d9;
  /*background-color: #242424;*/
  animation: focoOndulanteFondo 5s infinite;
  /*1f1d2a ad*/
  height: 100%;
}

@keyframes focoOndulanteFondo {

  0% {
    background: conic-gradient(
      from 120.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  1%{
    background: conic-gradient(
      from 121.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  2%{
    background: conic-gradient(
      from 123.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  3%{
    background: conic-gradient(
      from 125.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  4%{
    background: conic-gradient(
      from 127.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  5%{
    background: conic-gradient(
      from 129.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  6%{
    background: conic-gradient(
      from 130.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  7%{
    background: conic-gradient(
      from 132.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  8%{
    background: conic-gradient(
      from 134.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  9%{
    background: conic-gradient(
      from 136.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  10%{
    background: conic-gradient(
      from 138.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  11%{
    background: conic-gradient(
      from 139.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  12%{
    background: conic-gradient(
      from 141.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  13%{
    background: conic-gradient(
      from 143.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  14%{
    background: conic-gradient(
      from 145.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  15%{
    background: conic-gradient(
      from 147.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  16%{
    background: conic-gradient(
      from 148.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  17%{
    background: conic-gradient(
      from 150.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  18%{
    background: conic-gradient(
      from 152.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  19%{
    background: conic-gradient(
      from 154.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  20%{
    background: conic-gradient(
      from 156.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  21%{
    background: conic-gradient(
      from 157.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  22%{
    background: conic-gradient(
      from 159.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  23%{
    background: conic-gradient(
      from 161.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  24%{
    background: conic-gradient(
      from 163.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  25%{
    background: conic-gradient(
      from 165.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  26%{
    background: conic-gradient(
      from 166.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  27%{
    background: conic-gradient(
      from 168.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  28%{
    background: conic-gradient(
      from 170.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  29%{
    background: conic-gradient(
      from 172.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  30%{
    background: conic-gradient(
      from 174.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  31%{
    background: conic-gradient(
      from 175.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  32%{
    background: conic-gradient(
      from 177.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  33%{
    background: conic-gradient(
      from 179.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  34%{
    background: conic-gradient(
      from 181.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  35%{
    background: conic-gradient(
      from 183.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  36%{
    background: conic-gradient(
      from 184.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  37%{
    background: conic-gradient(
      from 186.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  38%{
    background: conic-gradient(
      from 188.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  39%{
    background: conic-gradient(
      from 190.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  40%{
    background: conic-gradient(
      from 192.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  41%{
    background: conic-gradient(
      from 193.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  42%{
    background: conic-gradient(
      from 195.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  43%{
    background: conic-gradient(
      from 197.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  44%{
    background: conic-gradient(
      from 199.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  45%{
    background: conic-gradient(
      from 201.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  46%{
    background: conic-gradient(
      from 202.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  47%{
    background: conic-gradient(
      from 204.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  48%{
    background: conic-gradient(
      from 206.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  49%{
    background: conic-gradient(
      from 208.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  50%{
    background: conic-gradient(
      from 210.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  51%{
    background: conic-gradient(
      from 208.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  52%{
    background: conic-gradient(
      from 206.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  53%{
    background: conic-gradient(
      from 204.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  54%{
    background: conic-gradient(
      from 202.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  55%{
    background: conic-gradient(
      from 201.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  56%{
    background: conic-gradient(
      from 199.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  57%{
    background: conic-gradient(
      from 197.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  58%{
    background: conic-gradient(
      from 195.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  59%{
    background: conic-gradient(
      from 193.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  60%{
    background: conic-gradient(
      from 192.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  61%{
    background: conic-gradient(
      from 190.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  62%{
    background: conic-gradient(
      from 188.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  63%{
    background: conic-gradient(
      from 186.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  64%{
    background: conic-gradient(
      from 184.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  65%{
    background: conic-gradient(
      from 183.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  66%{
    background: conic-gradient(
      from 181.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  67%{
    background: conic-gradient(
      from 179.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  68%{
    background: conic-gradient(
      from 177.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  69%{
    background: conic-gradient(
      from 175.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  70%{
    background: conic-gradient(
      from 174.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  71%{
    background: conic-gradient(
      from 172.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  72%{
    background: conic-gradient(
      from 170.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  73%{
    background: conic-gradient(
      from 168.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  74%{
    background: conic-gradient(
      from 166.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  75%{
    background: conic-gradient(
      from 165.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  76%{
    background: conic-gradient(
      from 163.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  77%{
    background: conic-gradient(
      from 161.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  78%{
    background: conic-gradient(
      from 159.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  79%{
    background: conic-gradient(
      from 157.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  80%{
    background: conic-gradient(
      from 156.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  81%{
    background: conic-gradient(
      from 154.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  82%{
    background: conic-gradient(
      from 152.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  83%{
    background: conic-gradient(
      from 150.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  84%{
    background: conic-gradient(
      from 148.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  85%{
    background: conic-gradient(
      from 147.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  86%{
    background: conic-gradient(
      from 145.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  87%{
    background: conic-gradient(
      from 143.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  88%{
    background: conic-gradient(
      from 141.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  89%{
    background: conic-gradient(
      from 139.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  90%{
    background: conic-gradient(
      from 138.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  91%{
    background: conic-gradient(
      from 136.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  92%{
    background: conic-gradient(
      from 134.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  93%{
    background: conic-gradient(
      from 132.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  94%{
    background: conic-gradient(
      from 130.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  95%{
    background: conic-gradient(
      from 129.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  96%{
    background: conic-gradient(
      from 127.2deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  97%{
    background: conic-gradient(
      from 125.4deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  98%{
    background: conic-gradient(
      from 123.6deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  99%{
    background: conic-gradient(
      from 121.8deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

  100%{
    background: conic-gradient(
      from 120.0deg at 50% 0%,
      var(--color-fondo, #000), var(--color-foco, #fff),
      var(--color-fondo, #000) 30deg,
      var(--color-fondo, #000) 180deg
    );
  }

}