/* SIZES */

.box100 {
  --size-x: 100% !important;
  width: 100% !important;
}

/* FLEX SECTION */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align-start {
  display: flex;
  align-items: start;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-align-end {
  display: flex;
  align-items: end;
}

.flex-start {
  display: flex;
  justify-content: start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

/* MARGIN SECTION */
.margin-off {
  margin: 0 !important;
}

.margin-10-perc {
  margin: 10% !important;
}

.margin-top-off {
  margin: 0 !important;
}

.margin-top-10-perc {
  margin: 10% !important;
}

.margin-bottom-off {
  margin: 0 !important;
}

.margin-bottom-10-perc {
  margin: 10% !important;
}

.margin-sides-off {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.margin-sides-10-perc {
  margin-right: 10% !important;
  margin-left: 10% !important;
}

.margin-left-off {
  margin-left: 0;
}

.margin-left-10-perc {
  margin-left: 10%;
}

.margin-right-off {
  margin-right: 0;
}

.margin-right-10-perc {
  margin-right: 10%;
}